SERVICE_URL_N8N={{ n8n_service_url_effective | string | to_json }}
SERVICE_URL_N8N_5678={{ n8n_service_url_effective | string | to_json }}
N8N_DOMAIN={{ n8n_host_effective | string | to_json }}
N8N_PROTOCOL={{ n8n_protocol_effective | string | to_json }}
N8N_SECURE_COOKIE={{ n8n_secure_cookie_effective | string | lower | to_json }}
TIMEZONE={{ n8n_timezone_effective | string | to_json }}
N8N_INSTANCE_OWNER_EMAIL={{ n8n_owner_email | string | to_json }}
N8N_INSTANCE_OWNER_FIRST_NAME={{ n8n_owner_first_name | string | to_json }}
N8N_INSTANCE_OWNER_LAST_NAME={{ n8n_owner_last_name | string | to_json }}
N8N_INSTANCE_OWNER_PASSWORD_HASH={{ n8n_password_hash_effective | string | to_json }}
SERVICE_USER_POSTGRES={{ n8n_postgres_user | string | to_json }}
SERVICE_PASSWORD_POSTGRES={{ n8n_postgres_password | string | to_json }}
SERVICE_PASSWORD_REDIS={{ n8n_redis_password | string | to_json }}
SERVICE_PASSWORD_ENCRYPTION={{ n8n_encryption_key | string | to_json }}

